body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e0e0e0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.toolbar h1 {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
}

.toolbar h3 {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2.5%;
}

.home {
  min-height: 100vh;
  margin-left: 10%;
  margin-right: 10%;
}
